body {
  font-size: 18px;
  background-color: dimgray;
}

h1 {
  font-size: 2rem;
  font-family: Tahoma, sans-serif;
  color: lightcyan;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.slider {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.slider__wrapper {
  display: flex;
  margin: 0 auto;
  width: 70%;
  overflow: hidden;
}

.wrapper {
  display: flex;
  transition: all 0.3s ease-in-out;
}

.slide {
  width: 100%;
}

.slider__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title-wrapper {
  width: 70%;
  padding: 0.5rem;
}

.title {
  font-style: italic;
  color: aliceblue;
}

.slider__controls {
  display: flex;
  gap: 0.3rem;
}

input {
  display: none;
}

label {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  cursor: pointer;
}
label:hover .control {
  box-shadow: 0 0 0.3rem white;
}

.control {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: gray;
}

#slide-1:checked ~ .slider__title #control-1 {
  background-color: aliceblue;
}

#slide-2:checked ~ .slider__wrapper .wrapper {
  transform: translateX(-100%);
}
#slide-2:checked ~ .slider__title #control-2 {
  background-color: aliceblue;
}

#slide-3:checked ~ .slider__wrapper .wrapper {
  transform: translateX(-200%);
}
#slide-3:checked ~ .slider__title #control-3 {
  background-color: aliceblue;
}

#slide-4:checked ~ .slider__wrapper .wrapper {
  transform: translateX(-300%);
}
#slide-4:checked ~ .slider__title #control-4 {
  background-color: aliceblue;
}
